<!-- FOOTER -->
<a id="contact"></a>
<div
  class="jumbotron jumbotron-fluid"
  style="background-color: #100f0f; margin-bottom: 0%"
>
  <div class="container footer">
    <p class="footer orange smallp">
      Inicjatywa Stop Walkom Psów jest nieformalnym zrzeszeniem osób chroniących
      psy przed okrucieństwem. Możesz się z nami skontaktować wysyłając nam
      wiadomość na adres
      <a
        href="mailto: stopwalkompsow@protonmail.com"
        style="color: #ffffff"
        class="smallp"
        >stopwalkompsow@protonmail.com</a
      >. Wszystkie wiadomości traktujemy jako poufne.
    </p>
    <p class="whitep footer smallp">
      Nasza strona nie korzysta z ciasteczek, ani żadnych innych technik
      służących do identyfikowania odwiedzających ją osób.
    </p>
  </div>
</div>
<a id="press"></a>
<!-- END OF FOOTER -->
