<!-- FOOTER -->
<div
  class="jumbotron jumbotron-fluid"
  style="background-color: #100f0f; margin-bottom: 0%"
>
  <div class="container footer">
    <p class="footer orange smallp">
      Inicjatywa Stop Walkom Psów jest nieformalnym zrzeszeniem osób chroniących
      psy przed okrucieństwem. Możesz się z nami skontaktować wysyłając nam
      wiadomość na adres
      <a
        href="mailto: stopwalkompsow@protonmail.com"
        style="color: #ffffff"
        class="smallp"
        >stopwalkompsow@protonmail.com</a
      >. Wszystkie wiadomości traktujemy jako poufne.
    </p>
    <p class="whitep footer smallp">
      Nasza strona nie korzysta z ciasteczek śledzących, ani żadnych innych technik
      służących do identyfikowania odwiedzających ją osób.
    </p>
  </div>
  <div style="text-align: center; margin-top: 20px">
    <a href="https://hits.seeyoufarm.com"
      ><img
        src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fstopwalkompsow.pl&count_bg=%2379C83D&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=false"
    /></a>
  </div>
</div>
<a id="press"></a>
<!-- END OF FOOTER -->
