<!--- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/">
    <img
      src="img/logos.png "
      loading="lazy"
      alt="Large"
      class="swapimg1 visible-desktop1 logo1"
    /><img
      src="img/logpio.png"
      loading="lazy"
      alt="small"
      class="swapimg1 visible-mobile1"
      height="400px"
    /><img
      src="img/logpio.png"
      loading="lazy"
      alt="Medium"
      class="swapimg1 visible-tablet1"
      height="400px"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a
        class="nav-item nav-link {% if page.slug == 'index' %}active{% endif %}"
        href="/#more"
        >O KAMPANII</a
      >
      <a
        class="nav-item nav-link {% if page.slug == 'press' %}active{% endif %}"
        href="/press.html"
        >PRESS</a
      >
      <a class="nav-item nav-link" href="/#contact">KONTAKT</a>
    </div>
  </div>
</nav>
<!--- END OF NAVBAR -->
